/* Poppins ( Police ) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ////////////// */

* {

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}


/* Navbar */

nav {
    padding: 14px 50px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110%;
    max-width: 1120px;
    padding: 12px 30px;
    background: rgba(242, 247, 247, 0.7);
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(213, 225, 226, 0.7);
}

.nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo img {
    height: 40px;
    width: auto;
}

.btn-primary{
    background-color: #1b5b61bd;
    color: white;
    border-radius: 17px;
    padding: 12px 28px;
    transition: transform 0.3s ease;
}

.btn-primary:hover{
transform: scale(1.05);
}
.btn-secondary{
    background-color: #e9f2f2;
    color: #1b5b61bd;
    border-radius: 17px;
    padding: 12px 28px;
    border: 2px solid #1b5b61bd;
    transition: transform 0.3s ease;
}
 .btn-secondary:hover{
  transform: scale(1.05);
}
.btn-cta{
    display: flex;
    align-items: center;
    gap: 16px;
}

a{
    text-decoration: none;
}

.brand-name h1 {
font-size: 50px;
} 


/* Header */

.header-section {
    display: flex;
    padding-top: 140px; 
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh; 
    background: #d1e6e6;
    background: linear-gradient(180deg, rgba(209, 230, 230, 1) 70%, rgba(240, 245, 245, 1) 85%, rgba(255, 255, 255, 1) 100%);
}


.header-section-center{
  padding-bottom: 50px;
}

.brand-name {
  font-size: 50px;
  color: #1B5B61;
}

.header-text h1 {
  line-height: 1.3;
  font-size: 50px;
  letter-spacing: -2px;
}

.header-little-text { 
 color: #6b6b6b;
}

.headerphoneimg {
display: flex;
justify-content: center;
height: 550px;
}

.header-cta-bouton {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
}

#dl-btn-one img{
  height: 50px;
}

#dl-btn-two img{
  height: 50px;
}
/*Avantages de jojo*/ 
.main-container-landing {
  overflow: hidden;
  max-width: 100%;
}

.main-container-landing,
.main-container-landing * {
  box-sizing: border-box;
}

.main-container-landing{
  position: relative;
  height: 184px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;

}
.rectangle-landing {
  position: absolute;
  width: 1034px;
  height: 126px;
  top: 29px;
  left: 239px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 4;
  border-radius: 20px;
  padding-right: 30px;
}
.gemini-generated-image {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 13px;
  left: 716px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-04/SW1kHoLRrm.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.gemini-generated-image-2 {
  position: absolute;
  width: 97px;
  height: 91px;
  top: 14px;
  left: 27px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-04/SMXSjjZXCX.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.gemini-generated-image-3 {
  position: absolute;
  width: 97px;
  height: 91px;
  top: 14px;
  left: 357px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-02-04/08RusrCXMH.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.reponses-immediates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 219px;
  height: 91px;
  top: 18px;
  left: 461px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  z-index: 5;
}
.droit-du-travail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 180px;
  height: 91px;
  top: 18px;
  left: 133px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  z-index: 6;
}
.confidentialite-securite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 180px;
  height: 91px;
  top: 18px;
  left: 819px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;}

/* Fonctionnalités */


.features-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.features-header {
  text-align: center;
  margin-bottom: 50px;
}

.features-title {
  color: #1b5b61;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: -2px;
}

.features-subtitle {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.feature-block {
  display: flex;
  align-items: center;
  gap: 200px;
  position: relative;
}

.feature-left {
  flex-direction: row;
}

.feature-right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.feature-text {
  flex: 1;
  max-width: 500px;
  z-index: -100px;
  background-color: #ffffff;
  border-radius:50px ;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.feature-text:hover{
    transform: scale(1.05);
  }

.feature-text h3 {
  color: #1b5b61;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature-text p {
  color: #374151;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.feature-phone {
  flex-shrink: 0;
  width: 300px;
  z-index: -100;
}

.feature-phone img {
  width: 15vw;
  height: 70vh;
  display: block;
  z-index: -1000;
}

/* Témoignage */

#feedback{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 244, 245, 1) 15%, rgba(221, 232, 233, 1) 30%, rgba(221, 232, 233, 1) 70%, rgba(240, 245, 245, 1) 85%, rgba(255, 255, 255, 1) 100%);
  
}

.feedback-info{
  gap: 15px;
}

#feedback p{
  font-weight: 500;
  width: 30vw;
  
}

.feedback-card{
  background-color: white;
  height: 58vh;
  width: 68vw;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 50px;
  justify-content: space-evenly;
}

.feedback-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.stars{
  color: #C6A470;
  font-size: x-large;
  font-weight: 600;
}

.feedback-image{
  display: flex;
 align-items: flex-end;
}

#claire-avatar{
  height: 55vh;
}

/* Download */
#download{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
  
}
.download-info{
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 30vw;
}

.download-img{
  display: flex;
  justify-content: center;
  height: 530px;
}

.btn-download img{
  height: 35px;
}

/* Footer */

footer{
  background-color: #1B5B61 ;
  color: white;
  padding: 20px 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.social-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.social-link{
   color: white;
    font-size: 22px;
    transition: all 0.3s ease;
   
}

.social-link:hover {
    color: #e0e0e0;
    transform: translateY(-3px);
}

